:root {
    --tab-color: lightgrey;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 10px 0 10px;
}
.header {
    height: 8vh;
}
.tabs {
    height: 6vh;
    margin-top: 10px
}
.content {
    background-color: darkgrey;
    display: flex;
    flex: 1; /* take all remaining space */
    padding: 20px 25px;
    position: relative;
    flex-direction: row;
    min-height: 0;
}
.tab {
    background-color: var(--tab-color);
    display: inline-block;
    height: 8vh;
    width: 13vw;
    font-size: 30px;
    text-align: center;
    padding-top: 8px;
    margin-left: 8px;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.tab:first-child {
    margin-left:16px;
}
.tab::before {
    height:40px;
    width: 30px;
    content: "";
    position: absolute;
    right: 185px;
    bottom: 18px;
    background-color: transparent;
    border-bottom-right-radius: 100px;
    box-shadow: 10px 0 0 0 var(--tab-color);
}
.tab::after {
    height:40px;
    width: 30px;
    content: "";
    position: absolute;
    left: 185px;
    bottom: 18px;
    background-color: transparent;
    border-bottom-left-radius: 100px;
    box-shadow: -10px 0 0 0 var(--tab-color);
}
.table {
    display: inline-block;
    width: 30vw;
    background-color: grey;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}
.agentIcon {
    display: inline-block;
    margin: 10px 10px;
    width: 7.2vw;
    height: 15vh;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.agentIcon::before {
    content: "";
    width: 85%;
    height: 90%;
    inset: 0.8vh 0.7vw;
    position: absolute;
    z-index: -1;
    background-color: darkgrey;
    border-radius: 15px;
}
.agentIconImage {
    width: 6.5vw;
    position: relative;
    border-radius: 10px 10px 0 0;
}
.agentName {
    margin: 0;
    border-top: 1px solid black;
    position: relative;
}
.agentSelect {
    width: 60vw;
    flex: 1;
    background-color: green;
    margin-left: 10vw;
}
h1 {
    background-color: lightgray;
    width: 30vw;
    font-size: 40px;
    margin: 10px 0 10px 0;
    padding: 5px 0px 0px 15px;
    border-radius: 15px;
}